.root {
    -fx-background-color: #22252c;
}
.card {
    -fx-background-color: #1d212a;
    -fx-padding: 30;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0.2, 0, 4);
}
#logoImage {
    -fx-alignment: CENTER_LEFT;
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 15;
    -fx-padding: 0 0 0 15;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Outfit";
    -fx-graphic-text-gap: 20;
    -fx-text-fill:  #dcdbeb;
    -fx-font-size: 28px;
}
.title-label {
    -fx-font-size: 26px;
    -fx-text-fill: #dcdbeb;
    -fx-font-family:"Outfit";
}

.input-label{
    -fx-text-fill: #dcdbeb;
    -fx-font-family: "Raleway Medium";
}
.buttonToReg {
    -fx-background-color:  #161429;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 22;
    -fx-background-radius: 20;
    -fx-text-fill: linear-gradient(from 100% 0% to 0% 100%, #716af6, #9382e9);
    -fx-padding: 10 14;
    -fx-font-size: 18px;
    -fx-font-family: "Raleway SemiBold";
    -fx-cursor: hand;
    -fx-font-weight: 700;
}
.gradient-line {
    -fx-pref-height: 3;
    -fx-background-color: #1D1C29;
    -fx-background-radius: 1;
}


.buttonToReg:hover {
    -fx-background-radius: 25;
    -fx-text-fill: linear-gradient(from 100% 0% to 0% 100%, #8569F6, #9E83E9);
}


.text-field, .password-field {
    -fx-font-family: "Raleway Medium";
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-padding: 10 14;
    -fx-border-width: 2;
    -fx-border-color: #dcdbeb;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #dcdbeb;
}

.text-field:hover, .password-field:hover {
    -fx-border-color: #dcdbeb;
    -fx-background-color: transparent;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #dcdbeb;
    -fx-background-color: transparent;
}

.buttonLog {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, #716af6, #9382e9);
    -fx-text-fill: #dcdbeb;
    -fx-padding: 10 14;
    -fx-font-size: 18px;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-font-family: "Raleway Semibold";
}

.buttonLog:hover {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, #8569F6, #9E83E9);
}

.errorLabel {
    -fx-text-fill: #ff3b3b;
    -fx-font-family: "Raleway Medium";
    -fx-font-size: 13px;
}
.combo-field{
    -fx-font-family: "Raleway Medium";
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-padding: 0 0;
    -fx-border-width: 2;
    -fx-border-color: #dcdbeb;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #dcdbeb;
}
.combo-field:hover {
    -fx-border-color: #dcdbeb;
    -fx-background-color: transparent;
}
.combo-field:focused {
    -fx-border-color: #dcdbeb;
    -fx-background-color: transparent;
}

.combo-field:disabled {
    -fx-opacity: 0.9;
    -fx-background-color: #e9ecef;
}
.combo-field .arrow-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.combo-field .arrow {
    -fx-background-color: #495057;
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
    -fx-padding: 5px;
}
.combo-field .arrow-button:hover {
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
}

.combo-field .list-view {
    -fx-background-color:  #22252c;
    -fx-border-color: #1d212a;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0.2, 0, 4);
}
.combo-field .list-cell {
    -fx-background-color: #22252c;
    -fx-text-fill: #dcdbeb;
    -fx-font-size: 14px;
    -fx-border-width: 2;
}
.combo-field .list-cell:hover {
    -fx-background-color: #1d212a;
    -fx-background-radius: 5px;
    -fx-text-fill: #dcdbeb;
}
.combo-field .list-cell:selected {
    -fx-background-radius: 5px;
    -fx-background-color: #1d212a;
    -fx-text-fill: #dcdbeb;
}
