.text-field {
    -fx-font-family: "Raleway Medium";
    -fx-background-radius: 10;
    -fx-background-color: #252733;
    -fx-padding: 10 14;
    -fx-border-width: 2;
    -fx-border-color: #dcdbeb;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-text-fill: #dcdbeb;
}
.text-field .text {
    -fx-fill: #dcdbeb;
}
.text-field .content {
    -fx-background-color: #252733;
}
.pinkBtn {
    -fx-font-size: 15px;
}
.backBtn {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, #252733, #5f52bb);
    -fx-background-radius: 6;
    -fx-border-color: transparent;
    -fx-font-family: "Raleway SemiBold";
    -fx-font-size: 12px;
    -fx-text-fill:  #dcdbeb;
}
.backBtn:hover {
    -fx-background-color: linear-gradient(from 100% 0% to 0% 100%, #716af6, #9382e9);
}